<% include ../partials/header %>

<div class="container">
  <h1 class="jumbotron text-center">Edit Comment</h1>

  <div class="container">
    <div class="row justify-content-center">
      <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="post" class="col-md-6">
        <div class="form-group">
          <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block" type="submit">submit</button>
          <a href="/campgrounds" class="">Go Back</a>
        </div>
      </form>
    </div>
  </div>
</div>



<% include ../partials/footer %>
