<% include ../partials/header %>

<div class="container">
  <h1 class="jumbotron text-center">Add New Comment to: <%= campground.name %></h1>

  <div class="container">
    <div class="row justify-content-center">
      <form action="/campgrounds/<%= campground._id%>/comments" method="post" class="col-md-6">
        <div class="form-group">
          <input class="form-control" type="text" name="comment[text]" placeholder="text">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="comment[author]" placeholder="author">
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block" type="submit">submit</button>
          <a href="/campgrounds" class="">Go Back</a>
        </div>
      </form>
    </div>
  </div>
</div>



<% include ../partials/footer %>
