<% include partials/header %>

<h1 class="jumbotron text-center">Landing Page</h1>

<p>Yelp Camp</p>

<a href="/campgrounds" class="btn btn-dark">View All Campgrounds</a>

<% include partials/footer %>
