<% include partials/header %>

<div class="container">
  <h1 class="jumbotron text-center">Yelp Camp</h1>

  <p>Yelp Camp</p>

  <a href="/campgrounds" class="btn btn-dark">View All Campgrounds</a>

</div>


<% include partials/footer %>
