<% include partials/header %>

<h1 class="jumbotron">Create a New Campground</h1>

<form action="/campgrounds" method="post" class="col-md-6">
  <div class="form-group">
    <input class="form-control" type="text" name="name" placeholder="name">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="image" placeholder="image url">
  </div>
  <button class="btn btn-success btn-lg" type="submit">submit</button>
  <a href="/campgrounds" class="btn btn-lg btn-outline-dark">Go Back</a>
</form>

<% include partials/footer %>
